$desktop: 1440px;
$laptop: 1023px;
$tablet: 768px;
$mobile-s: 480px;

@mixin mobile-s {
  @media (min-width: $mobile-s) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $laptop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin hover() {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
}
