.plans {
    display: flex;
    gap: 30px;
    gap: fluid-from-laptop(20, 30);
    align-items: stretch;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.plancard {
    padding: fluid-from-laptop(24, 50);
    min-width: 358px;
    // width: fluid(358, 512);
    max-width: calc(100vw - 32px);
    display: flex;
    flex-direction: column;
    gap: fluid(30, 50);
    border: 1px solid var(--color-black-15);
    border-radius: fluid-to-laptop(10, 12);
    color: var(--color-gray-60);
    background: var(--color-black-10);
    scroll-snap-align: center;

    @include tablet {
        min-width: 414px;
    }

    @include laptop {
        min-width: 512px;
    }

    &-title {
        margin-bottom: fluid(10, 16);
        color: var(--color-white);
    }

    &-price {
        font-size: fluid(24, 40);
        font-weight: 600;
        color: var(--color-white);
        user-select: none;
    }

    &-controls {
        display: flex;
        gap: fluid-from-laptop(12, 20);

        .btn {
            @include tablet {
                flex-basis: fluid(149, 196);
            }
        }
    }
}
